/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
}
html,
body {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face{
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}
